@c: fade(#0F4BA3, 5%);
@b: rgba(0, 0, 0, .1);
@t: rgba(0, 0, 0, .05);
@n: transparent;

@padding-prefix: 0.9rem;

@selection: #0F4BA3;

@node-primary-color: rgba(30, 30, 30, 0.9);
@node-primary: rgb(255, 255, 255);
@node-entry-color: rgba(147, 121, 0, 0.9);
@node-entry: rgb(255, 255, 255);
@node-green-color: rgba(8, 147, 0, 0.9);
@node-green: rgb(255, 255, 255);
@node-structure-color: fade(#0F4BA3, 90%);
@node-structure: rgb(255, 255, 255);
@node-logic-color: rgba(157, 0, 67, 0.9);
@node-logic: rgb(255, 255, 255);
@node-error-color: rgba(157, 0, 0, 0.9);
@node-error: rgb(255, 255, 255);
@node-timer-color: rgba(0, 122, 157, 0.90);
@node-timer: rgb(255, 255, 255);
@node-code-color: rgba(157, 0, 126, 0.90);
@node-code: rgb(255, 255, 255);

@node-port-primary-color: rgb(0, 115, 255);
@node-port-primary: rgb(255, 255, 255);
@node-port-alt-color: rgb(255, 95, 0);
@node-port-alt: rgb(255, 255, 255);
@node-port-std-color: rgb(255, 255, 255);
@node-port-std: rgb(30, 30, 30);

.blueprint-container {
  content: '';
  width: 100%;
  min-width: 100%;
  background-image: linear-gradient(to bottom, @c 0%, darken(@c, 5%) 100%);
  background-attachment: fixed;

  * {
    user-select: none;
  }
}

.blueprint {
  content: '';
  position: relative;
  width: 100%;
  background-position: right bottom;
  background-size: 50px 50px;
  background-image:
    linear-gradient(0deg,
      @n 0%, @n 9px,
      @b 9px, @b 10px, @n 10px, @n 19px,
      @t 19px, @t 20px, @n 20px, @n 29px,
      @t 29px, @t 30px, @n 30px, @n 39px,
      @t 39px, @t 40px, @n 40px, @n 49px,
      @t 49px, @t 50px),
    linear-gradient(-90deg,
      @n 0%, @n 9px,
      @b 9px, @b 10px, @n 10px, @n 19px,
      @t 19px, @t 20px, @n 20px, @n 29px,
      @t 29px, @t 30px, @n 30px, @n 39px,
      @t 39px, @t 40px, @n 40px, @n 49px,
      @t 49px, @t 50px);

  .selection {
    content: '';
    pointer-events: none;
    position: absolute;
    background-color: fade(@selection, 50%);
    border: 1px solid @selection;
  }

  .selector {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
}

.node {
  cursor: move;
  position: absolute;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  user-select: none;
  pointer-events: all;
  border-radius: 5px;
  border: solid 0 black;
  overflow: visible;
  font-size: 11px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: @node-primary-color;
  color: @node-primary;
  display: inline-block;

  &.fake {
    position: relative;
    min-width: 10rem;
  }

  &.entry {
    background-color: @node-entry-color;
    color: @node-entry;
  }

  &.green {
    background-color: @node-green-color;
    color: @node-green;
  }

  &.structure {
    background-color: @node-structure-color;
    color: @node-structure;
  }

  &.logic {
    background-color: @node-logic-color;
    color: @node-logic;
  }

  &.error {
    background-color: @node-error-color;
    color: @node-error;
  }

  &.timer {
    background-color: @node-timer-color;
    color: @node-timer;
  }

  &.code {
    background-color: @node-code-color;
    color: @node-code;
  }

  & > * > * {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;

    &.ports:last-of-type {
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
    }
  }

  & > * > .title {
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    white-space: nowrap;

    padding: @padding-prefix * 0.5;

    & > * {
      align-self: center;
    }

    .fa {
      padding: 5px;
      opacity: 0.2;
      cursor: pointer;

      &:hover {
        opacity: 1.0;
      }
    }

    .name {
      flex-grow: 1;
      max-width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  & > * > .ports {
    display: flex;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3));

    & > .port {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      max-width: 100%;

      & > .in-port, & > .out-port {
        display: flex;
        margin-top: 1px;
        max-width: 100%;

        & > * {
          align-self: center;
          margin-top: @padding-prefix * 0.4;
          margin-bottom: @padding-prefix * 0.4;
          height: @padding-prefix * 1.25;
          line-height: @padding-prefix * 1.25;
          color: @node-port-primary;
          background-image: linear-gradient(fade(@node-port-primary-color, 80%), fade(@node-port-primary-color, 50%));
        }

        & > .name {
          max-width: 50%;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          padding-left: @padding-prefix * 0.5;
          padding-right: @padding-prefix * 0.5;

          &:last-child {
            max-width: 100%;
            margin-right: 2px;
          }

          &:first-child {
            max-width: 100%;
            margin-left: 2px;
          }

          &.pointer {
            cursor: pointer;
            opacity: 0.6;

            &:hover, &:focus, &.hover {
              opacity: 0.9;
            }

            &:active, &.active {
              opacity: 1;
            }
          }
        }

        & > .contact {
          content: '';
          cursor: pointer;
          width: @padding-prefix * 1.25;
          min-width: @padding-prefix * 1.25;
          max-width: @padding-prefix * 1.25;
          opacity: 0.6;

          &:hover, &:focus, &.hover {
            opacity: 0.9;
          }

          &:active, &.active {
            opacity: 1;
          }
        }

        &.alt {
          & > * {
            color: @node-port-alt;
            background-image: linear-gradient(fade(@node-port-alt-color, 80%), fade(@node-port-alt-color, 50%));
          }
        }

        &.std {
          & > * {
            color: @node-port-std;
            background-image: linear-gradient(fade(@node-port-std-color, 100%), fade(@node-port-std-color, 80%));
          }
        }
      }

      & > .in-port {
        & > * {
          margin-left: 1px;
        }

        & > .name {
          border-top-right-radius: 100rem;
          border-bottom-right-radius: 100rem;
        }
      }

      & > .out-port {
        justify-content: flex-end;

        & > * {
          margin-right: 1px;
        }

        & > .name {
          justify-content: flex-end;
          text-align: right;
          border-top-left-radius: 100rem;
          border-bottom-left-radius: 100rem;
        }
      }
    }
  }

  &:hover, &:focus, &.hover {
    box-shadow: 0 0 0px 4px rgba(255, 255, 255, 0.6);
  }

  &:active, &.active {
    box-shadow: 0 0 0px 4px rgba(0, 192, 255, 0.6);
  }
}